{% extends "base.html" %}
{% block title %}PMS Detection Agent | {{ pack.name }}{% endblock %}

{#
  Standalone full-page view of the System-of-Record Detection demo. Wrapper
  around components/packs/vertical_ai/sor_detection.html.
#}
{% block content %}
<div class="container">
  <div class="page-back">
    <a href="/{{ pack.id }}" class="back-link">&larr; {{ pack.name }}</a>
  </div>

  <section class="rollup">
    <p class="rollup-narrative">{{ rollup_markdown }}</p>
  </section>

  {% include "components/packs/vertical_ai/sor_detection.html" %}
</div>
{% endblock %}
